@model IEnumerable<Ems.ViewModels.RankManagementViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .job {
        margin-top: 2%;
        margin-left: 3px;
        margin-right: 3px;
    }

    .add-rank {
        margin-top: 2%;
        margin-left: 3px;
        margin-right: 3px;
    }
</style>
<div class="content-wrapper">
    <section class="content">


        <div class="row d-flex justify-content-center">
            <div class="btn btn-outline-danger job" value="Doktor">
                Doktor
            </div>
            <div class="btn btn-outline-info job" value="Polis">
                Polis
            </div>
            <div class="btn btn-outline-warning job" value="Sheriff">
                Sheriff
            </div>
            <div class="btn btn-outline-primary job" value="State Polis">
                State
            </div>
            <div class="btn btn-outline-success job" value="">
                Tümü
            </div>
            <a href="/Management/AddRank" class="btn btn-success add-rank">
                <div>
                    Ekle
                </div>
            </a>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-md-8 mt-3">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Rank Sıralaması</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div hidden class="text-center my-3" id="spinner">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table text-center">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Rank Adı</th>
                                    <th scope="col">Meslek</th>
                                    <th scope="col">Meslek Paneli</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @foreach (var item in Model)
                                {
                                    var AccessJobPanel = item.AccessJobPanel ? "Erişimi Var" : "Erişimi Yok";
                                    <tr id="@item.Id">
                                        <td>@item.RankName</td>
                                        <td>@item.JobName</td>
                                        <td>@AccessJobPanel</td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                    <a href="/Management/EditRank/@item.Id" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                <div class="btn btn-danger" onclick="removeRank(@item.Id)"><i class="fas fa-trash"></i></div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Count() == 0)
                                {
                                    <tr><td colspan="4">Gösterilecek veri bulunamadı</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
    
    $(".job").on("click", function (event) {
        var skipCount = 0;
        var res = $(this).serialize();
        var jobName = $(this).attr("value");
        var job = "?job=" + jobName;
        if (job == "Tümü")
            job = "";
        var content = "";
        $.ajax({
            url: '/Api/GetRanks' + job + '&skipCount=' + skipCount +'&takeCount=100',
            type: 'POST',
            data: res,
            dataType: 'json',
            beforeSend: function () {
                $('#tableBody').html("");
                $(this).attr("disabled", true);
                content = "";
                $("table").hide();
                $("#spinner").attr("hidden", false);
            },
            success: function (response) {

                if (response.length == 0) {
                    $('#tableBody').html('<tr><td colspan="4" class="text-center">Gösterilecek veri bulunamadı</td></tr>');
                }
                $.each(response, function (i, v) {
                    console.log(v);
                    var AccessToJobPanel = v.AccessJobPanel ? "Erişimi Var" : "Erişimi Yok";

                    content += '<tr id="' + v.Id + '">';
                    content += '<td>' + v.RankName + '</td>';
                    content += '<td>' + v.JobName + '</td>';
                    content += '<td>' + AccessToJobPanel + '</td>';
                    content += '<td>';
                    content += '<div class="btn-group btn-group-sm">';
                    content += '<a href="/Management/EditRank/' + v.Id+'" class="btn btn-info"><i class="fas fa-eye"></i></a>';
                    content += '<div class="btn btn-danger" onclick="removeRank(' + v.Id + ')"><i class="fas fa-trash"></i></div>';
                    content += '</div>';
                    content += '</td>';
                    content += '</tr>';

                    $('.card-title').text(jobName + " Rank Sıralaması");
                })
                $('#tableBody').append(content);

                $("#spinner").attr("hidden", true);
                $(this).attr("disabled", false);
                $("table").show();

            }

        });

    });


    function removeRank(Id) {
        var row = $("tr#" + Id);
        swal({
            title: "Emin misin lan kardeeeş?",
            text: "Rank'ı Sileceksiniz! Bunun geri dönüşü yok.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Rank silindi! Artık sonsuza dek buralarda yok", {
                        icon: "success",
                        title: "Başarılı"
                    });
                    $.ajax({
                        url: '/Api/RemoveRank?id=' + Id,
                        type: 'POST',
                        beforeSend: function () {

                            $("table").hide();
                            $("#spinner").attr("hidden", false);
                        },
                        success: function () {
                            $("table").show();
                            $("#spinner").attr("hidden", true);
                            $(row).remove();
                        }
                    })
                } else {
                    swal("Ohhh çok korkmuştum sileceksin diye!", {
                        icon: "error",
                        title: "Vazgeçildi"
                    });
                }
            });
      
    }
</script>

