@using Ems.Service.Management;
@using Ems.Controllers;
@{
    ViewBag.Title = "Edit Rank Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-wrapper">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Rank Yetkilerini Düzenle</h3>
                </div>
                <div class="card-body">
                    @{
                        var rankId = Url.RequestContext.RouteData.Values["id"];
                        var menuList = (IEnumerable<Ems.ViewModels.SubMenusViewModel>)ViewBag.Menus;
                        var groupByMenu = menuList.GroupBy(x => x.MainMenuId).OrderBy(x => x.Key);
                        var mainMenuList = new MainMenusManager().GetAll();
                        var currentUserRank = new RankManager().GetById(BaseController.userSession.RankId);
                        var permToChanged = new RankManager().GetById(Convert.ToInt32(rankId));
                        var canChange = (currentUserRank.HierarchyNo > permToChanged.HierarchyNo) || BaseController.userSession.AccessManagementPanel;
                        canChange = !canChange;
                    }
                    <div class="row">


                        @foreach (var item in groupByMenu)
                        {
                            <div class="col-md-6">
                                <label>@item.Where(x => x.MainMenuId == item.Key).FirstOrDefault().MainMenuName</label>
                                @{
                                    var subMenus = (IEnumerable<Ems.Data.Model.SubMenus>)ViewBag.SubMenus;
                                    subMenus = subMenus.Where(x => x.MainMenuId == item.Key);
                                }
                                @foreach (var sub in subMenus)
                                {
                                    
                                    <div class="form-check">
                                        <input type="checkbox" disabled="@(canChange)" class="form-check-input" checked="@menuList.Where(x => x.SubMenuId == sub.Id).FirstOrDefault().HasPermission" id="@sub.Id">
                                        <label class="form-check-label" for="@sub.Id">@sub.Name</label>
                                    </div>
                                }
                            </div>
                            <br />
                        }
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-right">
                    <button id="submit" class="btn btn-info">
                        <span id="spinner" hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Kaydet
                    </button>
                    <div class="btn btn-danger"><a href="/Home/Index" style="color:white">Vazgeç</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
    var rank = '@Url.RequestContext.RouteData.Values["id"]';
    $("#submit").on('click', function () {
        var model = [];
        $(".form-check > input").each(function () {
            var isChecked = $(this).is(':checked');
            item = {};
            item["RankId"] = rank;
            item["subMenuId"] = $(this).attr('id');
            item["hasPermission"] = isChecked;
            model.push(item);
        });

        model = JSON.stringify(model);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            type: 'POST',
            url: '/api/EditRankPermissions',
            data: model,
            beforeSend: function () {
                $("#spinner").attr("hidden", false);
                $("#submit").attr("disabled", true);
            },
            success: function (data) {
                console.log(data)
                swal("Nays Hocam", data.json.Message, data.json.Status);
            },
            error: function (data) {
                swal("Aga bee", data.json.Message, data.json.Status);
            },
            complete: function (data) {
                $("#spinner").attr("hidden", true);
                $("#submit").attr("disabled", false);
            }
        })

    })
</script>

